<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta authors="이지우">
        <title>Check The Number Of Visitors</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
        <div class="body-section">
            <div id="main-screen">
                <header>
                    <div class="title-section">
                        <h1 id="header-title">Check The Number Of Visitors</h1>
                        {% block desc %}
                        <!-- header-desc -->
                        {% endblock %}
                    </div>
                </header>
                <div class="main-section">
                    {% block main_context %}
                    
                    {% endblock %}
                </div>
            </div>
            <div class="control-section">
                {% block buttons %}
                
                {% endblock %}
            </div>    
        </div>
    </body>
    {% block javascript %}
    
    {% endblock %}
</html>
