{% extends 'result.html' %}
{% block desc %}
    {{ super() }}
{% endblock %}
{% block main_context %}
    {{ super() }}
{% endblock %}
{% block buttons %}
<a id="save-link"><button id="save-btn">SAVE AS MP4</button></a>
{% endblock %}
{% block javascript %}
    {{ super() }}
<script>
    var saveLink = document.querySelector("#save-link");
    
    move_circle()

    function exportVid(blob) {
        const src = URL.createObjectURL(blob);
        saveLink.download = 'myvid.webm';
        saveLink.href = src;
        saveLink.style.display = "inline";
    }
</script>
{% endblock %}